h1{
    text-align: center;
    font-weight: bold;
    text-underline-position: under;
}
h2{
    text-align: center;
}
#menu{
    background-color: skyblue;
    font-family: 'Oswald', sans-serif;
    border-style: solid;
}
#desc{
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
#input{
    text-align: center;
    font-weight: bold;
    text-underline-position: under;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    font-family: 'Oswald', sans-serif;
}
#submit{
    background: #0066A2;
	color: white;
	border-style: solid;
	border-color: #0066A2;
	height: 30px;
	width: 80px;
	text-shadow: none;
    font-family: 'Oswald', sans-serif;
}