h1{
    text-align: center;
    font-weight: bold;
    text-underline-position: under;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font: bolder;
}
form{
    color: aqua;
}
#menu{
    background-color: skyblue;
    font-family: 'Oswald', sans-serif;
    border-style: solid;
}
#desc{
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
}
.caesar{
    width: auto;
    height: auto;
    background-color: #3289ae;
    color: white;
    padding: 15px 32px; 
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}
#caesardiv{
    display: flex;
    align-items: center;
    justify-content: center;
} 
#sub{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subs{

    width: auto;
    height: auto;
    background-color: #3289ae;
    color: white;
    padding: 15px 32px; 
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}